<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'logos/vickytitlelogo.png' %}" type="image/x-icon">
  <title>UserPage | VickyneoPhotography</title>
 

    <link rel="stylesheet" href="{% static 'css/UserPage.css' %}">
    <link rel="stylesheet" href="{% static 'css/final.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mansalva&display=swap" rel="stylesheet">

  
</head>
<body>
  <!-- Sidebar Section -->
  <div class="sidebar" id="sidebar">
    <div class="sidebar-logo">
        <img src="{{ company_info.sidebar_logo.url }}" alt="Logo">
    </div>
    <!-- Remove the Menu heading by commenting out or deleting the <h2> tag -->
    <!-- <h2>Menu</h2> -->
    <ul>
        <!-- Remove the Home and Gallery items -->
        <li><a id="gallerylink" href="#gallery"><i style="margin-right: 10px; color: #f1c40f" class="fas fa-image"></i>Gallery</a></li> 
        <li><a id="link" href="#favorites"><i style="margin-right: 10px; color: #f1c40f" class="fas fa-heart"></i>Favorites</a></li>
        <li><a href="#contact"><i style="margin-right: 10px; color: #f1c40f" class="fas fa-envelope"></i>Contact Us</a></li>
        <li><a href="{% url 'UserPage:user_logout' %}"><i style="margin-right: 10px; color: #f1c40f" class="fas fa-sign-out-alt"></i>LogOut</a></li>

    </ul>
    <button class="close-btn" id="closeBtn">&times;</button>
    <div class="sidebar-copyright">
        <p>&copy; 2024 Designed by Ruban | All rights reserved.</p>
    </div>
</div>


<header>
    <!-- Left-aligned menu button -->
    <button class="menu-btn" id="menuBtn">&#9776;</button>

    <!-- Center-aligned company name with tagline -->
    <div class="company-name">
        <h1>{{ company_info.name }}</h1>
        {% if company_info.enable_tagline %}
                <p class="tagline">({{ company_info.tagline }})</p> <!-- Display tagline if enabled -->
        {% endif %}
    </div>

    <!-- Right-aligned logo -->
    <div class="logo-container">
        <a href="/" target="_blank">
            <img src="{{ company_info.header_logo.url }}" alt="Website Logo" class="logo">
        </a>
    </div>

</header>


<main class="main" id="home">
    <div id="popup-message" style="display: none; position: fixed; top: 110px; left: 50%; transform: translateX(-50%); background-color: green; color: white; padding: 10px 20px; border-radius: 5px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); z-index: 1000;">
        <span id="popup-text"></span>
    </div>
    
    <!-- Gallery heading -->
    <div id="gallery" class="container-heading">Gallery</div>
    
    <!-- Container for displaying images -->
    <div id="imageContainer" class="image-container-for-gallery"></div>

    <!-- Pagination controls -->
    <div id="pagination" class="pagination-controls"></div>

    <!-- Favorites heading -->
    <div id="favorites" class="container-heading">Favorites</div>

    <!-- Container for selected images -->
    <div id="selectedImagesContainer" class="selected-images-container">
        <p class="no-images">No images selected</p>
    </div>

    <!-- Submit button for saving selected images -->
    <button id="submit-button" class="save-btn" onclick="saveSelection()">Submit</button>

    <!-- Fullscreen overlay for viewing images -->
    <div id="fullscreenOverlay" class="fullscreen-overlay" style="display: none;">
        <i class="close-btn fas fa-times" onclick="closeFullscreen()"></i>
        <img id="fullscreenImage" style="max-width: 90%; max-height: 90%;" alt="Fullscreen Image">
        <div id="watermark">
            VickyNeo Photography
        </div>
    </div>
</main>

<footer class="footer-section">
           

    <div class="footer-container">
        <!-- Left side: Follow Us and Social Media Icons -->
        <div class="footer-left">
            <div class="social-follow">
                <p class="follow-us">Follow us</p> <!-- Follow Us Text -->
                <div class="social-icons">
                    {% if company_info.enable_whatsapp and company_info.whatsapp_link %}
                    <a href="{{ company_info.whatsapp_link }}" class="social-icon whatsapp-icon" target="_blank">
                        <img src="{{ company_info.whatsapp_icon.url }}" alt="WhatsApp" class="rounded-icon animated-icon">
                    </a>
                    {% endif %}
                
                    {% if company_info.enable_facebook and company_info.facebook_link %}
                    <a href="{{ company_info.facebook_link }}" class="social-icon facebook-icon" target="_blank">
                        <img src="{{ company_info.facebook_icon.url }}" alt="Facebook" class="rounded-icon animated-icon">
                    </a>
                    {% endif %}
                
                    {% if company_info.enable_instagram and company_info.instagram_link %}
                    <a href="{{ company_info.instagram_link }}" class="social-icon insta-icon" target="_blank">
                        <img src="{{ company_info.instagram_icon.url }}" alt="Instagram" class="rounded-icon animated-icon">
                    </a>
                    {% endif %}
                
                    {% if company_info.enable_youtube and company_info.youtube_link %}
                    <a href="{{ company_info.youtube_link }}" class="social-icon youtube-icon" target="_blank">
                        <img src="{{ company_info.youtube_icon.url }}" alt="YouTube" class="rounded-icon animated-icon">
                    </a>
                    {% endif %}
                
                    {% if company_info.enable_x and company_info.x_link %}
                    <a href="{{ company_info.x_link }}" class="social-icon x-icon" target="_blank">
                        <video class="rounded-icon animated-icon" autoplay loop muted playsinline>
                            <source src="{{ company_info.x_icon.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </a>
                    {% endif %}
                </div>
                
            </div>
        </div>

        <!-- Center: Company Name with Logo -->
        <div class="footer-center">
            <div class="company-info">
                <div class="footer-logo">
                    <img src="{{ company_info.footer_logo.url }}" alt="Company Logo" class="rounded-logo">
                </div>
                <h3>{{ company_info.name }}</h3> <!-- Fetching company name from the database -->
            </div>
        </div>
        

        <!-- Right side: Contact Info -->
        <div class="footer-right" id="contact">
            <h3 class="contact-title">Contact Us</h3> <!-- Contact Us title -->

            <!-- Location Section -->
            <div class="footer-contact-item">
                <a href="{{ company_info.google_maps_link }}" class="icon-link" target="_blank">
                    <img src="{{ company_info.location_icon.url }}" alt="Location" class="rounded-location-icon animated-icon">
                </a>
                <div class="contact-info">
                    <!-- <p>Company map: {{ company_info.google_maps_link }}</p> -->
                    <a href="{{ company_info.google_maps_link }}" class="contact-link" target="_blank">
                        <span id="Addressline1" class="contact-line">{{ company_info.address_line1 }}</span><br>
                        <span id="Addressline2">{{ company_info.address_line2 }}</span><br>
                        <span id="Addressline3" class="contact-line">{{ company_info.address_line3 }}</span><br>
                        <span id="Addressline4" class="contact-line">{{ company_info.address_line4 }}</span>
                    </a>
                </div>
            </div>
            

            <!-- Phone Section -->
            <div class="footer-contact-item">
                <a href="tel:{{ company_info.phone_number }}" class="icon-link">
                    <img src="{{ company_info.phone_icon.url }}" alt="Phone" class="rounded-phone-icon">
                </a>
                <div class="contact-info">
                    <span class="contact-line">
                        <a href="tel:{{ company_info.phone_number }}" class="contact-link">{{ company_info.phone_number }}</a>
                    </span>
                </div>
            </div>
            

            <!-- Email Section -->
            <div class="footer-contact-item">
                <a href="mailto:{{ company_info.email }}" class="icon-link">
                    <img src="{{ company_info.email_icon.url }}" alt="Email" class="rounded-email-icon">
                </a>
                <div class="contact-info">
                    <span class="contact-line">
                        <a href="mailto:{{ company_info.email }}" class="contact-link">{{ company_info.email }}</a>
                    </span>
                </div>
            </div>
            
        </div>
    </div>

</footer>

 
<script src="{% static 'js/UserPage.js' %}"></script>
<script src="{% static 'js/final.js' %}"></script>
</body>
</html>
