{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/multiple-upload.css' %}">
    <script src="{% static 'js/multiple-upload.js' %}"></script>
{% endblock %}

{% block after_field_sets %}
    <!-- <h3>Image Upload</h3>
    <div id="image-upload-container">
        <div class="image-input-group">
            <input type="file" id="id_image" name="images" multiple>
        </div>
    </div>
    <button type="button" id="add-image">Add More Images</button> -->
{% endblock %}

